<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd">
 
	<context:annotation-config />

 	<bean id="nyx" class="math.nyx.Nyx"/>
	
	<bean id="signalFactory" class="math.nyx.core.SignalFactory"></bean>
	
	<bean id="fractalFactory" class="math.nyx.core.FractalFactory"></bean>

	<!-- Linear -->
	<bean id="linearPartitioningStrategyFactory"
				class="math.nyx.framework.linear.LinearPartitioningStrategyFactory"/>
	
	<bean id="averagingDecimationStrategyFactory"
				class="math.nyx.framework.linear.AveragingDecimationStrategyFactory"/>

	<!-- Square -->
	<bean id="squarePartitioningStrategyFactory"
				class="math.nyx.framework.square.SquarePartitioningStrategyFactory"/>

	<bean id="squareDecimationStrategyFactory"
				class="math.nyx.framework.square.SquareDecimationStrategyFactory"/>

	<!-- Affine -->
	<bean id="affineKernelWithPermutations" class="math.nyx.affine.AffineKernel">
		<property name="permute" value="true" />
		<property name="allowNegativeScales" value="false"/>
	</bean>

	<bean id="affineKernelWithoutPermutations" class="math.nyx.affine.AffineKernel">
		<property name="permute" value="false" />
	</bean>

	<!-- Codecs -->
	
	<!--  
	<bean id="imageCodec" class="math.nyx.framework.FractalCodec">
		<property name="name" value="imageCodec" />
		<property name="kernel" ref="affineKernelWithoutPermutations" />
		<property name="partitioningStrategyFactory" ref="linearPartitioningStrategyFactory" />
		<property name="decimationStrategy" ref="averagingDecimationStrategy" />
	</bean>
	-->

	<bean id="imageCodec" class="math.nyx.framework.FractalCodec">
		<property name="name" value="imageCodec" />
		<property name="kernel" ref="affineKernelWithPermutations" />
		<property name="partitioningStrategyFactory" ref="squarePartitioningStrategyFactory" />
		<property name="decimationStrategyFactory" ref="squareDecimationStrategyFactory" />
	</bean>

	<bean id="audioCodec" class="math.nyx.framework.FractalCodec">
		<property name="name" value="audioCodec" />
		<property name="kernel" ref="affineKernelWithoutPermutations" />
		<property name="partitioningStrategyFactory" ref="linearPartitioningStrategyFactory" />
		<property name="decimationStrategyFactory" ref="averagingDecimationStrategyFactory" />
	</bean>

</beans>
