<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd">
 
	<context:annotation-config />
 
	<bean id="affineKernel" class="math.nyx.codecs.AffineKernel"/>

	<bean id="linearPartitioningStrategy" class="math.nyx.framework.LinearPartitioningStrategy"/>
	
	<bean id="squarePartitioningStrategy" class="math.nyx.framework.SquarePartitioningStrategy"/>
	
	<bean id="averagingDecimationStrategy" class="math.nyx.framework.AveragingDecimationStrategy"/>

	<bean id="affineFractalCodec" class="math.nyx.framework.FractalCodec">
		<property name="name" value="affineFractalCodec" />
		<property name="kernel" ref="affineKernel" />
		<property name="partitioningStrategy" ref="linearPartitioningStrategy" />
		<property name="decimationStrategy" ref="averagingDecimationStrategy" />
	</bean>
</beans>
